form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 7px 0px rgba(34, 60, 80, 0.2);
}

label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
}
input {
  height: 20px;
  border-radius: 5px;
}

button {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  height: 30px;
  border: none;
  background-color: burlywood;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: chocolate;
}
